<div class="cadastro-form">
  <div class="cadastro-form__container">
    <div class="cadastro-form__card">
      <h2 class="cadastro-form__title">Crie seu cadastro</h2>
      <p class="cadastro-form__subtitle">Melhore sua descrição para atrair clientes!</p>

      <form [formGroup]="perfilForm" (ngSubmit)="onProximo()">

        <div class="cadastro-form-field">
          <label class="cadastro-form-label">Sua Foto</label>
          <div class="cadastro-form__upload-container">
            <div class="cadastro-form__upload-area" [class.cadastro-form__upload-area--with-preview]="fotoPreview"
              (click)="fileInput.click()">
              <ng-container *ngIf="!fotoPreview">
                <div>
                  <i class="fas fa-cloud-upload-alt"></i>
                  <p>Arraste arquivos para esta área ou
                    clique para fazer o upload</p>
                </div>
              </ng-container>
              <ng-container *ngIf="fotoPreview">
                <img [src]="fotoPreview" alt="Preview da foto" class="cadastro-form__foto-preview">
              </ng-container>
            </div>
            <input #fileInput type="file" accept="image/*" style="display: none" (change)="onFotoSelecionada($event)">
          </div>
        </div>

        <div class="cadastro-form__field">
          <label class="cadastro-form-label">Cite ate 3 habilidades que você considera principais</label>
          <div class="cadastro-form__chips">
            <app-chip *ngFor="let habilidade of habilidades" [text]="habilidade.nome"
              [selected]="habilidade.selecionada"
              [disabled]="!habilidade.selecionada && perfilForm.get('habilidadesSelecionadas')?.value.length >= 3"
              (clicked)="toogleHabilidade(habilidade)"></app-chip>
          </div>
        </div>

        <div class="cadastro-form__field">
          <div class="cadastro-form__row cadastro-form__row--header">
            <div class="cadastro-form__column">
              <label class="cadastro-form__label">Idiomas</label>
            </div>

            <div class="cadastro-form__column">
              <label class="cadastro-form__label">Nivel</label>
            </div>
          </div>

          <ng-container formArrayName="idiomas">
            <div *ngFor="let idiomaForm of idiomasArray?.controls; let i = index" [formGroupName]="i"
              class="cadastro-form__row">

              <div class="cadastro-form__column">
                <select formControlName="nome" class="cadastro-form__select">
                  <option value="" disabled>Escolha o idioma</option>
                  <option *ngFor="let idioma of idiomas" [value]="idioma"> {{ idioma }}</option>
                </select>

                <div *ngIf="idiomaForm.get('nome')?.invalid && idiomaForm.get('nome')?.touched"
                  class="cadastro-form__error">
                  Idioma e obrigatorio
                </div>
              </div>

              <div class="cadastro-form__column">
                <select formControlName="nivel" class="cadastro-form__select">
                  <option value="" disabled>Escolha o nivel</option>
                  <option *ngFor="let nivel of niveisIdioma" [value]="nivel"> {{ nivel }}</option>
                </select>

                <div *ngIf="idiomaForm.get('nivel')?.invalid && idiomaForm.get('nivel')?.touched"
                  class="cadastro-form__error">
                  Nivel e obrigatorio
                </div>
              </div>

              <div class="cadastro-form__column cadastro-form__column-actions">
                <button type="button" class="cadastro-form__icon-button" (click)="removerIdioma(i)"
                  *ngIf="i > 0 || idiomaForm.get('nome')?.value != 'Português' ">Remover</button>
              </div>

            </div>
          </ng-container>
          <div class="cadastro-form__column cadastro-form__column-actions">
            <button type="button" class="cadastro-form__icon-button" (click)="adicionarIdioma()">Adicionar</button>
          </div>

        </div>

        <div class="cadastro-form__actions">
          <app-button text="Anterior" type="outline" icon="fas fa-arrow-left" iconPosition="left"
            (clicked)="onAnterior()">
          </app-button>

          <app-button text="Próximo" type="primary" icon="fas fa-arrow-right" iconPosition="right"
            [disabled]="perfilForm.invalid" (clicked)="onProximo()">
          </app-button>
        </div>
      </form>
    </div>
  </div>
</div>